.tip span {
    position: absolute;
    width: 5em;
    background-color: #222222;
    border-radius: 0.5em;
    bottom: 125%;
    left: 50%;
    margin-left: -2.5em;
    padding: 0.3em;
    font-weight: normal;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}

.tip span::after {
    /* Arrow */
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tip:hover {
    cursor: pointer
}

.tip:hover span {
    visibility: visible;
    opacity: 1
}